.dynamo {justify-content: space-between ;
display: flex;

height: 160px;}


p {color: rgb(255,248,0);
}


header {background-color: 	
rgb(20,111,255);
width: 100%;}

main {background-color:rgb(255,0,35) ;}


footer {background-color: rgb(20,111,255);}


.ultras  {display: inline;}

.ilt {justify-content: space-between ;
display: flex;
height: 40px;}

